
.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* shared style */


  .sky-1{
    color: #0E0E0E;
  }
  .sky-2{
    color: rgb(14, 14, 14, 50%);
  }
  .btn-1{
    font-weight: 600px;
    color: #006A50;
    font-size: 18px;
    padding: 15px 30px;
    border-color: #006A50;
    opacity: 100%;
    border-radius: 8px
  }
  .btn-1:hover{
    color: aquamarine;
  }
  .btn-2 {
    font-weight: 600px;
    color: #ffffff;
    background-color: #006A50;
    font-size: 18px;
    padding: 17px 34px;
    opacity: 100%;
    border: none;
    border-radius: 8px;
  }
.header{
    
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
}

.nav-title{
    font-weight: 700;
    font-size: 32px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;  
}
nav li a {
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    max-width: 1280px;
    max-height: 560px;
    background-color: #C6E4D6; 
    justify-content: space-between;
    padding: 80px 100px;
    border-radius: 24px;
    margin: 0 160px 0 160px;
}
.banner-content{
    max-width: 622px;
    max-height: 326px;
    padding-left: 62px;
}
.banner-title{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}
.banner-text{
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 24px;
}
.banner-first-pic{
    width: 474.03px;
    height: 400px;
}

